- title @theme.name

- if !@theme.categories.blank?
  %h3 Liste des catégories
  %ul
    - for categorie in @theme.categories
      %li= link_to h(categorie.name), categorie
- else
  Pas de catégories pour ce thème

%p
  = link_to "Edit", edit_theme_path(@theme)
  |
  = link_to "Destroy", @theme, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", themes_path
