- title "Page d'administration"

%ul
  %li
    = link_to "Gestion des Informations", infos_path
  %li
    = link_to "Gestion des Catégories", categories_path
  %li
    = link_to "Gestion des Thèmes", themes_path
