- title "Phone Number"

%p
  %strong Thenumber:
  =h @phone_number.thenumber
%p
  %strong Info:
  =h @phone_number.info_id

%p
  = link_to "Edit", edit_phone_number_path(@phone_number)
  |
  = link_to "Destroy", @phone_number, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", phone_numbers_path
