- title "Infos"

%table
  %tr
    %th Name

  - if !@infos.blank?
    - for info in @infos
      %tr
        %td= link_to h(info.name), info
        %td= link_to "Edit", edit_info_path(info)
        %td= link_to "Destroy", info, :confirm => 'Are you sure?', :method => :delete
  - else
    No infos found.

%p= link_to "New Info", new_info_path
