<% title "Info" %>

<p>
  <strong>Name:</strong>
  <%=h @info.name %>
</p>

<p>
  <%= link_to "Edit", edit_info_path(@info) %> |
  <%= link_to "Destroy", @info, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", infos_path %>
</p>
